@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

:root {
  --theme3-bg: linear-gradient(180deg, #383838 0%, #010101 100%);
}

body {
  font-family: Tahoma, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eee;
}

@media (max-width: 768px) {
  body {
    font-family: Helvetica, Tahoma, sans-serif;
  }
}
.scroll-hide::-webkit-scrollbar {
  display: none;
}
.scroll-hide {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide calender icon from input type date */
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  z-index: 2;
}

.live-icon {
  animation: twinkling 1.4s infinite ease;
}

@keyframes twinkling {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }
}
.typeing ::after {
  content: "";
  width: 0.6666666667vw;
  height: 5.3333333333vw;
  background-color: #1f72ac;
  animation: typeing 1s infinite;
}
/* .typing-after {
  animation: typeing 1s infinite;
} */

@keyframes typeing {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
