@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

:root {
  --theme3-bg: linear-gradient(180deg, #383838 0%, #010101 100%);
}

body {
  font-family: Tahoma, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eee;
}

@media (max-width: 768px) {
  body {
    font-family: Helvetica, Tahoma, sans-serif;
  }
}
.scroll-hide::-webkit-scrollbar {
  display: none;
}
.scroll-hide {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide calender icon from input type date */
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  z-index: 2;
}

.live-icon {
  animation: twinkling 1.4s infinite ease;
}

@keyframes twinkling {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }
}
.typeing ::after {
  content: "";
  width: 0.6666666667vw;
  height: 5.3333333333vw;
  background-color: #1f72ac;
  animation: typeing 1s infinite;
}
/* .typing-after {
  animation: typeing 1s infinite;
} */

@keyframes typeing {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.marquee {
  display: inline-flex; /* keep both spans in a row */
  white-space: nowrap; /* prevent wrapping */
  animation: marqueeAnimation 42s linear infinite;
}

@keyframes marqueeAnimation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.openBetsAnimation {
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.nav-active {
  background-image: url(/public/Images/skyLobby/nav-active-bg.webp);
  background-size: 100% 100%;
}

@media (min-width: 976px) {
  .lg\:bg-index-img {
    background-image: url(/public/Images/skyLobby/bg-lobby-homepage.webp);
  }
}

.animate-delay-750 {
  animation-delay: 0.75s;
}
.animate-delay-500 {
  animation-delay: 0.5s;
}
.animate-delay-250 {
  animation-delay: 0.25s;
}
.animate-fadeIn {
  animation: fadeIn 0.8s ease-in-out forwards;
}
.animate-fadeIn-right {
  animation: fadeInRight 0.8s ease-in-out forwards;
}
.animate-fadeIn-left {
  animation: fadeInLeft 0.8s ease-in-out forwards;
}
.animate-balloon-normal {
  animation: balloon 1.6s ease-in-out infinite;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes fadeInLeft {
  0%,
  100% {
    margin-top: 0;
  }
  50% {
    margin-top: -5px;
  }
}
